<div class="show-main">
  Book was successfilly create.
  Book was successfilly updated.

  <% @books.where do |book| %>
    <p>
      Title:<%= book[:title] %>
    </p>
    <p>
      Body:<%= book[:body] %>
    </p>
  <% end %>
</div>
