<div class="top-box">
    <div class="top-header">
        <header>
            <h1>ようこそ<strong>Bookers</strong>へ！</h1>
        </header>
    </div>
    <div class="top-main">
        <p>
            <strong>Bookers</strong>では、さまざまな書籍に関するあなたの意見や<br>
            <br>
            印象を共有し交換する事ができます
        </p>
        <%= link_to "start", "/books" %>
    </div>
</div>